* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor {
    padding: 10px;
    background-color: lightgreen;
    display: grid;
    height: 100vh;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 20% auto 17%;
    grid-template-areas: "n h a"
                         "n m a"
                         "n f a";
}

header {
    grid-area: h;
}

nav {
    grid-area: n;
}

main {
    grid-area: m;
}

aside {
    grid-area: a;
}

footer {
    grid-area: f;
}


.elemento {
    background-color: lightblue;
    border: 3px solid blue;
    font-size: 2rem;
    text-align: center;
}





/* PRIMERA PARTE
.contenedor {
    background-color: lightgreen;
    display: grid;
    /*grid-template-rows: 200px 200px 200px;
    grid-template-columns: repeat(3, 1fr);
    /*column-gap: 10px;
    row-gap: 30px;
    /*gap: 10px 30px;
    height: 100vh;
    grid-template: 200px 200px 200px/ repeat(3, 300px);
    justify-content: space-between;
    align-content: center;  
}


.elemento {
    background-color: lightblue;
    border: 3px solid blue;
    font-size: 5rem;
    text-align: center;
}
*/