@font-face {
    font-family: pompiere;
    src: url("/fuentes/Pompiere-Regular.otf");
}
@font-face {
    font-family: montserrat;
    src: url("/fuentes/Montserrat-Regular.otf");
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* --- ENCABEZADO --- */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2.5vh 5% 2.5vh 5%;
    background-color: #fde5e5;
}

header {
    flex-basis: 12vh;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.logo img {
    width: 50px;
}

.logo h3 {
    font-family: pompiere, sans-serif;
    color: #f75f6b;
    font-size: 1.5rem;
}

.logo p {
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
    font-size: 0.5rem;
}

.menu {
    display: flex;
    align-items: center;
    font-family: pompiere, sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    color: #6d479c;
    list-style: none;
}

.menu li {
    padding-left: 3rem;
}

.menu a {
    text-decoration: none;
}

.menu a:hover {
    color: #f75f6b;
}

/* --- PRINCIPAL ---*/
main {
    flex-basis: 75vh;
    display: flex;

}

.contenido {
    flex-basis: 55%;
    padding: 0 14% 0 14%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.contenido h1 {
    font-family: pompiere, sans-serif;
    font-size: 4.3rem;
    color: #f75f6b;
    text-align: center;
}

.contenido p {
    color: #6d479c;
    text-align: justify;
}

.boton {
    padding-top: 10px;
}

.buton button {
    border: none;
    color: white;
    background-color: #a7b3dd;
    width: 140px;
    border-radius: 20px;
    padding: 1rem 0 1rem 0;
    font-weight: bold;
    font-family: montserrat, sans-serif;
    margin: auto;
    display: block;
    transition: background 0.5s;
}

.buton button:hover {
    background-color: #f75f6b;
    cursor: pointer;
}

.imagen {
    flex-basis: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen img {
    width :85%;
}

/* --- PIE DE PÁGINA --- */
footer {
    flex-basis: 8vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

footer p {
    font-family: pompiere, sans-serif;
    font-size: 1.5rem;
    color: #5d479c;
}

/* --- IMÁGENES DE FONDO --- */

.superior {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 30%;
}


.inferior {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 40%;
}
